.horizontal-menu {
  background-color: linear-gradient(135deg, #007bff, #0062cc);;
  padding: 15px 30px;
}

.horizontal-menu .menu-list {
  list-style-type: none;
  display: flex;
  justify-content: start;
  margin: 0;
  padding: 0;
}

.horizontal-menu .menu-list li {
  color: white;
  cursor: pointer;
  padding: 12px 20px;
  font-size: 18px;
  font-weight: 500;
  transition: background-color 0.3s ease, transform 0.2s ease-in-out;
  border-radius: 6px;
  margin: 0 10px;
}

.horizontal-menu .menu-list li:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.horizontal-menu .menu-list li:active {
  background-color: #004085;
  transform: scale(0.98);
}

.horizontal-menu .menu-list li:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(38, 143, 255, 0.6);
}
