.tile-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding: 20px;
}

.tile {
  background-color: #fff;
  width: 300px;
  height: 250px;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  overflow: hidden;
}

.tile:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.tile-header {
  text-align: center;
  margin-bottom: 10px;
}

.tile-name {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  margin: 0;
}

.tile-info {
  font-size: 14px;
  color: #555;
  margin: 5px 0px;
  padding-bottom: 12px ;
}

.tile-actions {
  display: flex;
  justify-content: end;
  gap: 16px;
  margin-top: 15px;
}

.action-icon {
  font-size: 20px;
  color: #007bff;
  cursor: pointer;
  transition: transform 0.2s ease, color 0.3s ease;
}

.action-icon:hover {
  transform: scale(1.2);
  color: #0056b3;
}

/* Icon specific styles */
.fa-edit {
  color: #ffc107;
}

.fa-flag {
  color: #fd7e14;
}

.fa-trash {
  color: #dc3545;
}

/* Hover effect */
.fa-edit:hover {
  color: #e0a800;
}

.fa-flag:hover {
  color: #e56a00;
}

.fa-trash:hover {
  color: #c82333;
}
